#home-page #hp_about .aboutMe {
    width: 100vw;
    height: 100vh;
    padding-top: 14%;
}

#home-page #hp_about > .aboutMe > .wrapper {
    width: 62%;
    max-width:1080px;
    justify-content: space-between;
    margin: 0 auto;
}

#home-page #hp_about > .aboutMe > .wrapper > .ava__wrapper {
    position: relative;
    width: 20vw;
    height: 20vw;
    min-width: 270px;
    min-height: 270px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-right: 80px;
}

.ava__textArc {
    position: absolute;
    width: 88%;
    animation: spin 30s infinite linear;
}
.ava__img {
    position: absolute;
    width: 66%;
}

#home-page #hp_about > .aboutMe > .wrapper > .content__wrapper {
    min-width: 320px;
}

#home-page #hp_about > .aboutMe > .wrapper > .content__wrapper > .body-text {
    margin: 27px 0;
}

@media screen and (max-width: 960px) {
    #home-page #about > .aboutMe > .wrapper  {
        flex-direction: column;
    }
    #home-page #about > .aboutMe > .wrapper > .ava__wrapper {
        margin-right: 0;
    }
    #home-page #about > .aboutMe > .wrapper > .content__wrapper {text-align: center;}
    #home-page #about > .aboutMe > .wrapper > .content__wrapper > button {display: block; margin: 45px auto;}
}

#home-page #hp_about .aboutPage {
    width: 100vw;
    height: auto;
    padding-bottom: 750px;

    background-image: url('/public/images/tokyonight.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

#home-page #hp_about > .aboutPage > .wrapper {
    margin: 0 auto;
    width: 50%;
}

#home-page #hp_about > .aboutPage > .wrapper > .section-title{
    text-align: center;
    margin-bottom: 60px;
}

#home-page >#hp_about > .aboutPage > .wrapper > .body-text {
    max-width: 550px;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    #home-page #hp_about > .aboutPage > .wrapper {
        width: 90%;
    }
    #home-page >#hp_about > .aboutPage > .wrapper > .body-text {
        width: 64%;
        min-width: 320px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    #home-page #hp_about > .aboutPage {
        margin-top: 30%;
    }
}
