#home-page #hp_contact {
    margin-top: 27%;
}

#home-page #hp_contact > .wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    position: relative;
}


#home-page #hp_contact > .wrapper > .section-title {
    text-align: center;
    margin-bottom: 60px;
}

#home-page #hp_contact > .wrapper > button {display: block; margin: 80px auto;}

#home-page #hp_contact > .wrapper > img {
    width: 100vw;
    bottom: 0;
    position: absolute;
}

@media screen and (max-width: 640px) {
    #home-page #hp_contact > .wrapper > img {
        width: 250vw;
        margin-left: -40%;
    }
}