#home-page, #allPost-page, #gallery-page {
    width: 100vw;
    height: auto;
}

#allPost-page, #gallery-page {
    padding-bottom: 7%;
}

#allPost-page > .cover__wrapper, 
#gallery-page > .cover__wrapper {
    height: 70vh;
    background-size: cover;
    position: relative;
    margin-bottom: 8%;
}

#allPost-page > .cover__wrapper > .content__wrapper,
#gallery-page > .cover__wrapper > .content__wrapper{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-100%);
    max-width: 640px;
    min-width: 350px;
    text-align: center;
}

#allPost-page > .cover__wrapper > .content__wrapper > .title,
#gallery-page > .cover__wrapper > .content__wrapper > .title{
    width: 100%;
}
#allPost-page > .cover__wrapper > .content__wrapper > .subtitle {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#allPost-page > .cover__wrapper {
    background-image: url('/public/images/storyposts-cover.jpg');
    background-position: center;
}
 
#gallery-page > .cover__wrapper {
    background-image: url('/public/images/gallery-cover.jpg');
    background-position: bottom;
}

@media screen and (max-width: 520px) {
    #allPost-page > .cover__wrapper, 
    #gallery-page > .cover__wrapper {
        height: 70vh;
        background-size: cover;
        position: relative;
        margin-bottom: 8%;
}
}
