#home-page, #allPost-page, #gallery-page {
    width: 100vw;
    height: auto;
}

#allPost-page, #gallery-page {
    padding-bottom: 7%;
}

#allPost-page > .cover-wrapper, 
#gallery-page > .cover-wrapper {
    height: 70vh;
    background-size: cover;
    position: relative;
    margin-bottom: 8%;
}

#allPost-page > .cover-wrapper > .content-wrapper,
#gallery-page > .cover-wrapper > .content-wrapper{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-100%);
    max-width: 640px;
    min-width: 350px;
    text-align: center;
}

#allPost-page > .cover-wrapper > .content-wrapper > .title,
#gallery-page > .cover-wrapper > .content-wrapper > .title{
    width: 100%;
}
#allPost-page > .cover-wrapper > .content-wrapper > .subtitle {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#allPost-page > .cover-wrapper {
    background-image: url('/public/images/storyposts-cover.jpg');
    background-position: center;
}
 
#gallery-page > .cover-wrapper {
    background-image: url('/public/images/gallery-cover.jpg');
    background-position: bottom;
}


@media screen and (max-width: 960px) {
    #allPost-page > .cover-wrapper, 
    #gallery-page > .cover-wrapper {
        height: 65vh;
    }

    #allPost-page > .cover-wrapper > .content-wrapper,
    #gallery-page > .cover-wrapper > .content-wrapper{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-100%);
    }
}

@media screen and (max-width: 520px) {
    #allPost-page > .cover-wrapper, 
    #gallery-page > .cover-wrapper {
        height: 70vh;
        background-size: cover;
        position: relative;
        margin-bottom: 8%;
    }
}

#post-page {
    width: calc(100%-230px);
    margin-left: 130px;
    margin-right: 100px;
    padding-bottom: 10%;
    color: #0A0605;
    background-color: #fff;
    position: relative;
}

#post-page > .cover-wrapper{
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#post-page > .content-wrapper {
    padding: 4% 24% 6% 24%;
}

#post-page > .content-wrapper > .content-header {
    margin-bottom: 10%;
}

#post-page > .content-wrapper > .content-header > .title { 
    font-family: 'Montserrat',sans-serif;
    font-size: 48px;
    font-weight: 800;
}

#post-page > .content-wrapper > .content-header > .subtitle { 
    font-size: 22px;
    line-height: 250%;
}

#post-page > .content-wrapper > .content-header > .time { 
    font-size: 14px;
    color:#0A0605;
}

.content-img, .content-vid {
    width: 100%;
    margin-bottom: 7%;
}

.content-media.flex {
    width: 100%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-media.flex >img {
    width: 49.5%;
}
.content-media.flex >video {
    width: 49.5%;
}
.location-btn {
    position: fixed;
    left: 82%;
    top: 82%;
    border-radius: 100px;
    padding: 17px 20px;
    color: #fff;
    background-color: #0A0605;
}

.location-btn:hover {
    background-color: #FFC130;
    color: #0A0605;
}

@media screen and (max-width: 960px) {
    #post-page {
        width: 100%;
        margin: 0;
        margin-top: 100px;
        padding-bottom: 10%;
    }

    #post-page > .cover-wrapper{
        height: 70vh;
        background-position: center;
        background-size: cover;
    }

    #post-page > .content-wrapper {
        padding: 10% 10% 50% 10%;
    }
}