#header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 60px 34px;
}

#header a {cursor: pointer;}

#header > .header__menu ul {
    display: flex;
    writing-mode: vertical-lr;
}

#header > .header__menu ul li {
    margin-top: 40px;
    transform: rotate(180deg);
}

.nav__item .active {
    border-left: solid 3px #FFC130;
    color: #FFC130;
}

#header > .header__menu ul li a{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}

#header > .header__options .options__sound { 
    margin-bottom: 20px;
}

#header > .menu-icon {
    display: none;
}

.current__lang > a {
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    #header {
        height: 85px;
        flex-direction: row;
        width: 100vw;
    }

    #header > .menu-icon {
        display: block;
        position: fixed;
        height: 45px;
        width: 45px;
        padding-top: 5px;
        top: 25px;
        right: 3%;
        font-size: 1.7rem;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        z-index: 999;
    }

    
    #header > .header__menu {
        width: 50%;
        height: 100vh;
        opacity: 0;
        right: 0;
    }
    
    #header > .header__menu.active {
        background-color: #0A0605;
        backdrop-filter: blur(10px);
        top: 0;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        position: fixed;
        box-shadow: -5px 0 5px #734d2919;
    }

    #header > .header__menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 5%;
        height: 100%;
        writing-mode: unset;

    }
    #header > .header__menu ul li {
        margin-top: 40px;
        transform: none;
    }
    
    #header > .header__menu ul li a{
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    #header > .header__menu{
        width: 100%;
    }
    
    
}
